/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Kdam Thmor Pro", sans-serif;
    background-color: rgba(84, 84, 84, 0.5);
}

/*? Header */
.separator {
    border: 1px solid black;
}

/*? Main */

/* Section Hotels */
span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.check {
    background-color: green;
}

span.xmark {
    background-color: red;
}